.card{
    margin:20px auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.4);     
    border-radius: 8px;
    font-family: sans-serif
}

.name{
    font-size: 20px;
    margin-bottom:10px;
}

.foodimg{
     height: auto;
     width: 100%;
     border-radius: 6px;
     margin-bottom: 5px;
}

.info{
    display: flex;
    justify-content: space-around;
    font-family:  sans-serif;
}

.steps{
    padding: 0;
    color:rgb(46, 45, 45);
} 
